@charset "iso-8859-1";
body.scroll {scrollbar-arrow-color: #CCCCCC; scrollbar-face-color: #64676C; scrollbar-highlight-color: #000000; scrollbar-shadow-color: #000000;background:black;margin-top:10px}
.site {
	font-family:Times New Roman,Times,serif;
	font-size:14px;
	font-weight:normal;
	font-style:italic;
	color:#FF9900;
	}
A.menu {	
	margin-top:5px;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#FFFFFF;
	text-decoration:none
	}
A.menu:visited {color:#FFCC66}
A.phenix {	
	color:#FFCC00;
	font-weight:bold;
	font-size:10px;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	text-decoration:none;
	}
A.phenix:visited {	
	color:#FFCC00;
	}
