---
---

/* prettier-ignore */
@use 'main
{%- if jekyll.environment == 'production' -%}
  .bundle
{%- endif -%}
';

/* append your custom style below */

/* Custom CSS for Image Sizing */
.img-half {

  max-width: 35rem;
  height: auto;


}

.img-third {
  max-width: 15rem;
  height: auto;


}

img {
border-radius: 12px;
}


