@charset "iso-8859-1";
.intro {
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:24px;
	font-weight:bold;
	text-align:center;
	}
.resultats {
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:12px;
	font-weight:bold;
	text-align:center
	}
A.lettre{
	font-family:Verdana,Arial,Helvetica,sans-serif;
	color:#990000;
	font-weight:bold;
	font-size:10px;
	text-decoration:none;
	}
A.lettre:visited{color:#990000;}
A.lettre:hover{color:#0000FF;}
A.linktitre {
	font-family:Verdana,Arial,Helvetica,sans-serif;
	color:#FFFFFF;
	font-weight:bold;
	text-align:center;
	font-size:10px;
	}
A.linktitre:visited {color:#FFFFFF;}
A.linktitre:hover {color:#FFCC66;}
A.page {
	font-family:Verdana,Arial,Helvetica,sans-serif;
	color:#0000FF;
	font-weight:bold;
	font-size:10px;
	text-decoration:none;
	}
A.page:hover {color:#FF0000;}
A.page:visited {color:#0000FF;}
.txtpage {
	font-family:Verdana,Arial,Helvetica,sans-serif;
	color:#000000;
	font-weight:bold;
	font-size:10px;
	}
.text {
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#000000;
	}
.bouton {
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:10px;
	font-weight:bold;
	width:100px;
	}
