@charset "iso-8859-1";
.intro {
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:24px;
	font-weight:bold;
	text-align:center;
	}
.message {
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:14px;
	font-weight:bold;
	text-align:center;
	}
.titre {
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:12px;
	font-weight:bold;
	background:#990000;
	color:#FFCC66;
	}
A.website {
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#990000;
	text-decoration:none;
	}
A.website:visited {
	color:#990000;
	text-decoration:none;
	}
.texte {
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#000000;
	margin-left:20px;
	text-align:justify;
	}
.message2 {
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	}
.coltitre {
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#660000;
	}
.zoneinfo {
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#000000;
	}
.bouton2 {
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-weight:bold;
	font-size:10px;
	width:120px;
	}
